body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(to right, lightpink, orange); /* Replace with your preferred color codes */
  background-size: 200% 100%;
  animation: gradientAnimation 5s infinite alternate;
  font-family: 'Bubblegum Sans', cursive; /* Replace with the font name you've chosen */
  background-color: #87CEEB; /* Set a background color for the bubbles */
  padding: 20px;
}
  

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #d0d0d0; /* Light Gray */
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #f0f0f0; /* Lighter Gray */
}

.hour {
  background-color: #fadede; /* Light Pink */
  color: #5c5c5c; /* Dark Gray */
  border-top: 1px dashed #5c5c5c; /* Dark Gray */
}

.past {
  background-color: #ffd1a6; /* Light Orange */
  color: #5c5c5c; /* Dark Gray */
}

.present {
  background-color: #c8e6c9; /* Light Green */
  color: #5c5c5c; /* Dark Gray */
}

.future {
  background-color: #bad2f3; /* Light Blue */
  color: #5c5c5c; /* Dark Gray */
}

.saveBtn {
  border-left: 1px solid #d0d0d0; /* Light Gray */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #91a7d0; /* Lighter Blue */
  color: #ffffff; /* White */
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
  
  .bubble-text {
    display: inline-block;
    padding: 10px;
    background-color: #fff; /* Set a background color for the text inside the bubbles */
    border-radius: 20px; /* Adjust the border-radius to control the bubble shape */
    font-family: Arial, sans-serif; /* Use a fallback font */
  }
